body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* width: 256px; ширина панели навигации */
  /* z-index: 1000; чтобы панель была над остальным содержимым */
}

.main-content {
  margin-left: 256px; /* отступ слева, равный ширине панели навигации */
  padding: 20px; /* отступ внутри основного контента */
  width: calc(100% - 256px); /* ширина основного контента, вычитая ширину панели */
}

